
/*==================== Responsive CSS ====================*/
@media screen and (min-width:1270px) {
  .container {
    padding: 0;
  }
}

@media screen and (min-width:1200px) {
  .container {
    max-width: 1170px;
  }
}

@media screen and (max-width:1340px) {
  .banner-image img {
    width: 380px;
  }
  .banner-caption h1 {
    font-size: 75px;
    line-height: 80px;
  }
  .about-info {
    padding-right: 0;
  }
  .section-title {
    font-size: 45px;
    line-height: 52px;
  }
}

@media screen and (max-width:1199px) {
  .orb-banner {
    height: 870px;
    padding-top: 180px;
  }
  .banner-caption {
    padding-top: 70px;
  }
  .banner-caption h1 {
    font-size: 60px;
    line-height: 70px;
  }
  .feature-item, .work-item {
    padding-left: 0;
    padding-right: 0;
  }
  .download-info {
    padding-left: 0;
  }
}

@media screen and (max-width:991px) {
  .orb-navigation {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 690px;
    padding: 0 25px 25px;
    margin: 0 auto;
    background: #ffffff;
    text-align: left;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  .orb-navigation ul {
    font-size: 14px;
  }
  .orb-navigation ul li {
    display: block;
    padding-left: 0;
  }
  .orb-navigation ul li a {
    display: block;
    padding: 10px 0;
    color: ##363636 !important;
    border-bottom: 1px solid #eeeeee;
  }
  .orb-navigation ul li a:after {
    display: none;
  }
  .orb-toggle {
    display: inline-block;
  }
  .orb-header, .is-sticky .orb-header {
    padding: 30px 0;
  }
  .orb-banner {
    height: auto;
    padding-top: 150px;
    text-align: center;
  }
  .banner-image {
    padding-top: 50px;
    margin-bottom: -70px;
    position: static;
  }
  .banner-caption {
    padding-top: 0;
  }
  .banner-caption h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .about-wrap {
    max-width: none;
    padding-top: 30px;
    margin: 0;
  }
  .tab-content .orb-image {
    padding-top: 50px;
  }
  .owl-item.center .testimonial-item {
    border: none;
  }
  .testimonial-item {
    padding: 0;
  }
  .orb-support .orb-icon {
    padding-top: 50px;
  }
  .download-info .app-btn img {
    width: 160px;
  }
  .section-title, .app-info .section-title {
    font-size: 38px;
    line-height: 45px;
  }
  .app-info {
    padding-top: 0;
  }
  .support-info {
    padding-right: 0;
  }
}

@media screen and (max-width:767px) {
  .orb-navigation {
    width: 510px;
  }
  .orb-banner {
    padding-top: 120px;
  }
  .banner-caption h1 {
    font-size: 38px;
    line-height: 46px;
  }
  .banner-caption p {
    font-size: 18px;
  }
  .caption-title {
    padding-bottom: 10px;
  }
  .orb-video-btn {
    padding: 15px 0 25px;
  }
  .banner-image {
    margin-bottom: -30px;
  }
  .banner-image img {
    width: 280px;
  }
  .orb-about .section-title, .app-info .section-title {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .section-title.title-two:after {
    left: 0;
  }
  .section-title {
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
  .section-title, .app-info .section-title {
    font-size: 32px;
    line-height: 40px;
  }
  .orb-about {
    padding: 70px 0 30px;
  }
  .about-wrap {
    padding-top: 15px;
  }
  .orb-features {
    padding: 25px 0 20px;
  }
  .feature-item h2 {
    font-size: 26px;
  }
  .feature-item .orb-icon {
    padding-bottom: 15px;
  }
  .feature-item h2 {
    padding-bottom: 10px;
  }
  .orb-works {
    padding: 50px 0 25px;
  }
  .work-item h2 {
    font-size: 26px;
  }
  .work-item .orb-icon {
    margin-bottom: 10px;
  }
  .orb-app {
    padding: 50px 0 20px;
  }
  .section-title.title-two br {
    display: none;
  }
  .orb-testimonials {
    padding-bottom: 30px;
  }
  .orb-support {
    padding: 30px 0;
  }
  .orb-support .orb-icon img {
    width: 300px;
  }
  .orb-download {
    padding: 50px 0;
    text-align: center;
  }
  .download-info {
    padding-top: 30px;
  }
  .download-info .section-title.title-two {
    text-align: center;
  }
  .download-info .section-title.title-two:after {
    margin: 0 auto;
  }
  .download-info .section-title, .support-info .section-title, .subscribe-wrap .section-title {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .orb-download .orb-image img {
    width: 250px;
  }
  .tab-content .orb-image img {
    width: 280px;
  }
  .orb-subscribe {
    padding: 50px 0;
  }
  .subscribe-wrap form {
    padding-top: 10px;
  }
  .orb-contact {
    padding: 35px 0;
    text-align: center;
  }
  .orb-contact .orb-social {
    padding-top: 20px;
    text-align: center;
  }
  .contact-wrap .orb-icon {
    float: none;
  }
  .contact-info {
    padding: 10px 0 0;
  }
  .contact-info ul li {
    padding: 0 5px;
  }
  .orb-social a {
    margin: 0 8px;
  }
  .orb-footer {
    padding: 30px 0 15px;
    text-align: center;
  }
  .orb-footer .textright {
    padding-top: 10px;
    text-align: center;
  }
  .orb-footer a {
    margin: 0 10px 15px;
  }
  .work-item {
    padding-bottom: 30px;
  }
  .orb-social span {
    padding-bottom: 10px;
  }
}

@media screen and (max-width:575px) {
  .container {
    padding: 0 25px;
  }
  .orb-navigation {
    width: auto;
  }
  .banner-caption h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .banner-caption p {
    font-size: 16px;
  }
  .app-btn a {
    display: inline-block;
    margin: 0 5px 10px;
  }
  .banner-image {
    padding-top: 30px;
  }
  .banner-image img {
    width: 220px;
  }
  .about-wrap ul li {
    float: none;
    width: 100%;
  }
  .feature-item h2, .work-item h2 {
    font-size: 22px;
  }
  .work-item .orb-icon {
    width: 140px;
    height: 140px;
  }
  .work-item .orb-icon img {
    width: 60px;
  }
}

@media screen and (max-width:479px) {
  .banner-caption h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .section-title, .app-info .section-title {
    font-size: 24px;
    line-height: 32px;
  }
  .nav-tabs .nav-link {
    padding: 15px;
    font-size: 12px;
  }
  .nav-tabs .nav-link .orb-icon {
    width: 25px;
    margin: 0 auto;
  }
  .subscribe-wrap .orb-btn {
    min-width: 100%;
  }
}

@media screen and (max-width:359px) {
  .nav-justified .nav-item {
    flex: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .tab-content .orb-image {
    padding-top: 30px;
  }
  .support-info ul {
    font-size: 13px;
  }
  .contact-info ul li {
    display: block;
    padding: 5px 0;
  }
}