/*  
Orb App Landing Page
Author: Tim Green
Description: App Landing Page HTML Template
Version: 1.0.0
*/
/*
background: linear-gradient(90deg,#c9373f 0,#930f5b);
*/
/* 01 Body */
html {overflow-y: scroll;}

body {
  color: #363636;
  font-family: 'Gilroy-ExtraBold';
  font-weight: 400;
  font-size: 14px;
  text-rendering: auto;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: grayscale;
}

::-webkit-input-placeholder {
  color: #930f5b;
  opacity: 0.5;
}

::-moz-placeholder {
  color: #930f5b;
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: #930f5b;
  opacity: 0.5;
}

:-moz-placeholder {
  color: #930f5b;
  opacity: 0.5;
}

::selection {
  background: #930f5b;
  color: #ffffff;
}

::-webkit-selection {
  background: #930f5b;
  color: #ffffff;
}

::-moz-selection {
  background: #930f5b;
  color: #ffffff;
}

::-o-selection {
  background: #930f5b;
  color: #ffffff;
}

::-ms-selection {
  background: #930f5b;
  color: #ffffff;
}

a {
  color: #930f5b !important;
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}

a:focus {
  outline: none;
  outline-offset: 0;
}
a:hover, a:focus {
  color: #c9373f;
  text-decoration: none;
}
img {
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.orb-caption{
  background: linear-gradient(90deg,#c9373f 0,#930f5b);
  color: #fff;
  padding: 1.0% 2%;
  border-radius: 19px;
}
iframe {
  display: block;
  width: 100%;
  border: none;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  padding-bottom: 10px;
  margin: 0;
  font-weight: 400;
  line-height: 1.42857143;
}
p {
  padding-bottom: 10px;
  margin-bottom: 0;
  color: #777777;
  font-family: 'Roboto', sans-serif;
  line-height: 26px;
  letter-spacing: 0.5px;
}
video {
  display: block;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #f8f8f8;
}
audio, canvas, progress, video {
  vertical-align: middle;
}
.orb-table-wrap {
  display: table;
  width: 100%;
  height: 100%;
}
.orb-align-wrap {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.text-italic {
  font-style: italic;
}
.textright {
  text-align: right;
}
.textcenter {
  text-align: center;
}

/* 02 Fonts - located in fonts.css*/

/* 03 Buttons */
.orb-btn {
  display: inline-block;
  vertical-align: middle;
  min-width: 190px;
  padding: 16px 15px;
  background: linear-gradient(90deg,#c9373f 0,#930f5b);
  color: #ffffff !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  position: relative;
  outline: none;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}
.orb-btn:hover, .orb-btn:focus {
  color: #ffffff !important;
  opacity: 0.8;
}


/* 04 Gotop */
.orb-gotop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  -webkit-transition: all ease .5s;
  -ms-transition: all ease .5s;
  transition: all ease .5s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  z-index: 2;
}
.orb-gotop.active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.orb-gotop a {
  display: block;
  width: 40px;
  height: 40px;
  padding: 6px;
  background: #930f5b;
  font-size: 18px;
  text-align: center;
  color: #ffffff !important;
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}
.orb-gotop a:hover, .orb-gotop a:focus {
  opacity: 0.8;
}

/* 05 Preloader */
.orb-preloader {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #930f5b;
  text-align: center;
  z-index: 4;
}
.loader-wrap {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.loader {
  display: inline-block;
  vertical-align: middle;
}

/* 06 Owl Carousel Slider */
.owl-carousel .owl-prev, .owl-carousel .owl-next, .owl-carousel .owl-dot {
  cursor: pointer;
}
.owl-drag .owl-prev:before, .owl-drag .owl-next:before {
  position: absolute;
  top: 30%;
  left: 0;
  width: 20px;
  height: 35px;
  background-image: url(../images/icon9@1x.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 20px auto;
  content: "";
  -webkit-transition: all ease .4s;
  -ms-transition: all ease .4s;
  transition: all ease .4s;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
  z-index: 1;
}
.owl-drag .owl-prev:hover:before {
  background-image: url(../images/icon11@1x.png);
}
.owl-drag .owl-next:before {
  left: auto;
  right: 0;
  background-image: url(../images/icon10@1x.png);
}
.owl-drag .owl-next:hover:before {
  background-image: url(../images/icon12@1x.png);
}
.owl-drag .disabled {
  display: none;
}
.owl-carousel .owl-dots {
  padding-top: 52px;
  text-align: center;
}
.owl-carousel .owl-dot {
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  margin: 0 5px 0 4px;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  text-indent: -999px;
  -webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: all ease .4s;
  -ms-transition: all ease .4s;
  transition: all ease .4s;
}
.owl-carousel .owl-dot.active {
  width: 25px;
  background: #ffbb00;
}
.slider-no-current {
  display: none;
  padding-top: 46px;
}
.current-no:after {
  content: "/"
}

/* 07 Tabs */
.orb-tabs {
  max-width: 400px;
  padding-top: 25px;
}
.nav-tabs {
  border-bottom: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: center;
}
.nav-tabs .orb-icon {
  display: block;
  padding-bottom: 10px;
}
.nav-tabs .nav-item {
  margin-bottom: 0;
}
.nav-tabs .nav-link {
  padding: 25px 20px;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  position: relative;
}
.nav-tabs .nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 0;
  background: #930f5b;
  content: "";
  -webkit-transition: all ease .6s;
  -ms-transition: all ease .6s;
  transition: all ease .6s;
  z-index: 1;
}
.nav-tabs .nav-link.active {
  box-shadow: 0 0 20px rgba(34, 34, 34, 0.13);
}
.nav-tabs .nav-link.active:after {
  width: 100%;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link {
  border: none;
}
.tab-content .orb-image {
  text-align: center;
}

/* 08 Navigation */
.orb-navigation ul {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  list-style: none;
  letter-spacing: 0.5px;
}
.orb-navigation ul li {
  display: inline-block;
  padding-left: 23px;
}
.orb-navigation ul li a {
  display: inline-block;
  vertical-align: middle;
  padding: 0 4px;
  color: #ffffff !important;
  position: relative;
}
.orb-navigation ul li a:after {
  position: absolute;
  top: 12px;
  right: 0;
  height: 2px;
  width: 0;
  background: #c9373f;
  content: "";
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
  z-index: 1;
}
.orb-navigation ul li a:hover:after, .orb-navigation ul li a.mPS2id-highlight:after {
  width: 100%;
  left: 0;
  right: auto;
}

/* 09 Animation Keyframes */
@-webkit-keyframes pulse-front {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
  }
  25% {
    opacity: 1;
    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(3.0, 3.0);
    -ms-transform: scale(3.0, 3.0);
    transform: scale(3.0, 3.0);
  }
}
@keyframes pulse-front {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
  }
  25% {
    opacity: 1;
    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(3.0, 3.0);
    -ms-transform: scale(3.0, 3.0);
    transform: scale(3.0, 3.0);
  }
}

/* 10 Modal Video Header */
.modal-video .modal-content {
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.modal-video .modal-body {
  padding: 0;
}

/* 11 Sticky Header */
/*  */
.is-sticky .orb-header {
  padding: 40px 0;
  background: #1b1b1b;
  -webkit-box-shadow: 0 2px 4px rgba(27, 27, 27, 0.1);
  -ms-box-shadow: 0 2px 4px rgba(27, 27, 27, 0.1);
  box-shadow: 0 2px 4px rgba(27, 27, 27, 0.1);
}
.sticky-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

/* 12 Header */
.orb-header {
  padding: 65px 0;
  position: relative;
  -webkit-transition: padding ease .4s, background ease .4s, box-shadow ease .4s;
  -ms-transition: padding ease .4s, background ease .4s, box-shadow ease .4s;
  transition: padding ease .4s, background ease .4s, box-shadow ease .4s;
}
.orb-header [class*"col-"] {
  position: static;
}
.header-right {
  text-align: right;
}
.orb-toggle {
  display: none;
  vertical-align: top;
  width: 20px;
  height: 30px;
}
.orb-toggle .toggle-separator {
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 5px;
  background: #ffffff;
  position: relative;
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}
.orb-toggle .toggle-separator:before, .orb-toggle .toggle-separator:after {
  position: absolute;
  top: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
  z-index: 1;
}
.orb-toggle .toggle-separator:after {
  top: 6px;
}
.orb-toggle.active .toggle-separator {
  background: none;
}
.orb-toggle.active .toggle-separator:before {
  top: -6px;
  -webkit-transform: translateY(7px) rotateZ(-45deg);
  -ms-transform: translateY(7px) rotateZ(-45deg);
  transform: translateY(7px) rotateZ(-45deg)
}
.orb-toggle.active .toggle-separator:after {
  top: 6px;
  -webkit-transform: translateY(-5px) rotateZ(45deg);
  -ms-transform: translateY(-5px) rotateZ(45deg);
  transform: translateY(-5px) rotateZ(45deg)
}

/* 13 Banner */
.orb-banner {
  height: 960px;
  padding-top: 225px;

  background: linear-gradient(90deg,#c9373f 0,#930f5b);
  position: relative;
}
.orb-banner [class*"col-"] {
  position: static;
}
.orb-banner .container {
  position: relative;
}
.banner-caption {
  padding-top: 120px;
  color: #ffffff !important;
}
.banner-caption h1 {
  font-family: 'Gilroy-ExtraBold';
  font-size: 90px;
  line-height: 90px;
}
.banner-caption p {
  font-weight: 300;
  font-size: 20px;
  color: inherit;
}
.caption-title {
  padding-bottom: 18px;
}
.banner-image {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 1;
}
.orb-video-btn {
  padding: 20px 0 35px;
}
.app-btn a:hover {
  opacity: 0.8;
}
.video-btn {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  background: #1d1d1d;
  color: #fff;
  font-size: 15px;
  position: relative;
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}
.video-btn:hover{
  background: #101010;
  text-decoration: none;
}
.video-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
.btn-text {
  vertical-align: middle;
  margin-left: 15px;
  color: #ffffff !important;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* 14 Banner Style Two */
.orb-banner.banner-style-two {
  position: relative;
  background: transparent;
}
.orb-banner.banner-style-two:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(42, 67, 179, 0.3);
  content: "";
  z-index: -1;
}
.banner-style-two .banner-caption {
  position: relative;
  z-index: 2;
}
.container-player {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

/* 15 About */
.orb-about {
  padding: 110px 0 60px;
}
.orb-about .section-title {
  padding-bottom: 25px;
  margin-bottom: 25px;
  text-align: left;
}
.about-info {
  padding-right: 30px;
}
.about-wrap {
  max-width: 520px;
  margin: 0 0 0 auto;
}
.about-wrap ul {
  padding: 0;
  margin: 0;
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: left;
  list-style: none;
}
.about-wrap ul:before, .about-wrap ul:after {
  display: table;
  content: "";
}
.about-wrap ul:after {
  clear: both;
}
.about-wrap ul li {
  float: left;
  width: 50%;
  padding-bottom: 13px;
}
.about-wrap ul li img {
  margin-right: 10px;
}
.section-title {
  padding-bottom: 20px;
  margin-bottom: 45px;
  text-align: center;
  font-family: 'Gilroy-ExtraBold';
  font-size: 50px;
  line-height: 60px;
  position: relative;
}
.section-title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 70px;
  height: 2px;
  margin: 0 auto;
  background: #c9373f;
  content: "";
  z-index: 1;
}
.section-title.title-two {
  text-align: left;
}
.section-title.title-two:after {
  left: 0;
  margin: 0;
}

/* 16 Features */
.orb-features {
  padding: 60px 0 80px;
  text-align: center;
}
.feature-item {
  padding: 0 40px 20px;
}
.feature-item .orb-icon {
  padding-bottom: 30px;
}
.feature-item h2 {
  padding-bottom: 16px;
  font-family: 'Gilroy-Light';
  font-size: 30px;
}

/* 17 Works */
.orb-works {
  padding: 100px 0 60px;
  background: #1d1d1d;
  color: #ffffff !important;
  text-align: center;
}
.work-item {
  padding: 0 50px 25px;
}
.work-item .orb-icon {
  display: inline-block;
  width: 170px;
  height: 170px;
  padding: 10px;
  margin-bottom: 25px;
  background: #ffffff;
  position: relative;
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}

.orb-icon-fa{
  color: #1d1d1d;
  font-size: 5rem;
}
.work-item h2 {
  padding-bottom: 5px;
  font-family: 'Gilroy-Light';
  font-size: 30px;
}
.work-item p {
  color: rgba(255, 255, 255, 0.6);
}
.work-step {
  position: absolute;
  top: 10px;
  right: -15px;
  padding: 4px 13px;
  background: #930f5b;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  z-index: 1;
}

/* 18 App */
.orb-app {
  padding: 120px 0 30px;
}
.app-info {
  padding-top: 30px;
}
.app-info .section-title {
  padding-bottom: 30px;
  margin-bottom: 30px;
  text-align: left;
  font-size: 49px;
}

/* 19 Testimonials */
.orb-testimonials {
  padding: 30px 0 50px;
}
.testimonial-item {
  padding: 5px 40px;
}
.owl-item.center .testimonial-item {
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
}
.testimonial-item .orb-icon {
  float: left;
  padding-top: 5px;
}
.testimonial-info {
  overflow: hidden;
  padding-left: 10px;
}
.testimonial-info p {
  color: #4f4f4f;
}
.testimonial-author {
  padding-top: 15px;
}
.testimonial-author .orb-image {
  float: left;
}
.testimonial-author .orb-image img{
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
}

.author-info {
  overflow: hidden;
  padding-left: 15px;
}
.author-info h6 {
  padding-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.author-info p {
  font-size: 14px;
}

/* 20 Support */
.orb-support {
  padding: 70px 0;
}
.orb-support .orb-icon {
  text-align: center;
}
.support-info .section-title {
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.support-info {
  padding-right: 80px;
}
.support-info h4 {
  font-size: 20px;
}
.support-info ul {
  padding: 20px 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}
.support-info ul li {
  padding: 0 0 10px 25px;
  position: relative;
}
.support-info ul li:after {
  position: absolute;
  top: 4px;
  left: 0;
  width: 12px;
  height: 12px;
  background: #00db78;
  content: "";
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
}
.support-info ul li:nth-child(2n):after {
  background: #f7bf18;
}
.support-info ul li:nth-child(3n):after {
  background: #d33131;
}

/* 21 Download */
.orb-download {
  padding: 80px 0 100px;
}
.orb-download .orb-image {
  text-align: center;
  position: relative;
}
.orb-download .orb-image:before, .orb-download .orb-image:after {
  position: absolute;
  top: 34%;
  bottom: 34%;
  left: 34%;
  right: 34%;
  background: rgba(0, 0, 0, 0.1);
  content: "";
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: 1.5s pulse-front 0s ease-out infinite;
  -ms-animation: 1.5s pulse-front 0s ease-out infinite;
  animation: 1.5s pulse-front 0s ease-out infinite;
  z-index: 0;
}
.orb-download .orb-image:after {
  -webkit-animation: 1.8s pulse-front 0s ease-out infinite;
  -ms-animation: 1.8s pulse-front 0s ease-out infinite;
  animation: 1.8s pulse-front 0s ease-out infinite;
}
.image-wrap {
  position: relative;
  z-index: 1;
}
.download-info {
  padding-left: 50px;
}
.download-info .section-title {
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.download-info .app-btn {
  padding-top: 30px;
}

/* 22 Subscribe */
.orb-subscribe {
  padding: 110px 0;
  background-image: url(../images/background2.png);
  background-position: 50% 50%;
  background-repeat: repeat;
  background-size: 10px auto;
}
.subscribe-wrap {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.subscribe-wrap .section-title {
  padding-bottom: 30px;
  margin-bottom: 30px;
  font-family: 'Gilroy-Light';
}
.subscribe-wrap form {
  max-width: 400px;
  padding-top: 25px;
  margin: 0 auto;
}
.form-control {
  height: 58px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  border-width: 2px;
  border-color: #cacaca;
}

.form-control:focus {
    color: #1d1d1d;
    background-color: #fff;
    border-color: #930f5b !important;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(147,15,91,);
}

/* 23 Contact */
.orb-contact {
  padding: 55px 0;
}
.contact-wrap .orb-icon {
  float: left;
}
.contact-info {
  overflow: hidden;
  padding: 7px 0 0 15px;
}
.contact-info h5 {
  padding-bottom: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.contact-info ul {
  padding: 0;
  margin: 0;
  color: #930f5b;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}
.contact-info ul li {
  display: inline-block;
  padding-right: 20px;
}
.contact-info ul li a {
  color: #930f5b;
}
.orb-contact .orb-social {
  text-align: right;
}
.orb-social span {
  display: block;
  padding-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}
.orb-social a {
  display: inline-block;
  margin-left: 25px;
}

/* 24 Footer */
.orb-footer {
  padding: 26px 0;
  font-family: 'Roboto', sans-serif;
  border-top: 1px solid #ebebeb;
}
.orb-footer a {
  display: inline-block;
  margin-left: 40px;
  position: relative;
}
.orb-footer a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #cacaca;
  content: "";
  -webkit-transition: all ease .6s;
  -ms-transition: all ease .6s;
  transition: all ease .6s;
  z-index: 1;
}
.orb-footer a:hover:after {
  width: 0;
}